
{% extends "base.html" %}

{% block title %}URL WORDCLOUD: Admin{% end %}


{% block home_selected %}{% end %}
{% block admin_selected %} pure-menu-selected{% end %}

{% block content %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">URL Wordcloud</h1>
        <p class="splash-subhead">
            A place to generate.
        </p>
        <p>Admin</p>
    </div>
</div>

<div class="content-wrapper">

</div>

<script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ static_url("js/vendor/jquery-3.3.1.min.js") }}">\x3C/script>')</script>
    <script>window.jQuery || document.write('<script src="{{ static_url("js/vendor/modernizr-3.6.0.min.js") }}">\x3C/script>')</script>
    <script src="{{ static_url("js/main.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/plugins.js") }}" type="text/javascript"></script>
{% end %}

