
{% extends "base.html" %}

{% block title %}URL WORDCLOUD: Login{% end %}


{% block home_selected %}{% end %}
{% block admin_selected %} pure-menu-selected{% end %}

{% block content %}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">URL Wordcloud</h1>
        <p class="splash-subhead">A place to generate.</p>
        <form class="pure-form" action="/login/" method="post">
        <fieldset>
            <legend>Please enter your Name</legend>
            <label for="login_name"><input type="text" name="name" id="login_name" placeholder="{{ _("Please enter your name") }}"></label>
            <button type="submit" class="pure-button pure-button-primary">{{ _("Sign in") }}</button>
            {% module xsrf_form_html() %}
        </fieldset>
        </form>
    </div>
</div>

<div class="content-wrapper"></div>
{% end %}